<a href="https://colab.research.google.com/github/eric157/eric157/blob/main/PythonDSA_LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1**

In [1]:
def convert_to_fahrenheit():
    global current_temperature
    current_temperature = (current_temperature * 9/5) + 32
def set_temperature(temp):
    global current_temperature
    current_temperature = temp

current_temperature = 32
print(current_temperature)

convert_to_fahrenheit()
print(current_temperature)

set_temperature(100)
print(current_temperature)

convert_to_fahrenheit()
print(current_temperature)

32
89.6
100
212.0

**Q2**

In [2]:
import copy
students = [
  {'name': 'Eric', 'grades': {'math': 90, 'science': 85}},
  {'name': 'Erron', 'grades': {'math': 78, 'science': 92}}
]
company = {
  'Data Science ': {'manager': 'Kelvi', 'employees': ['Jayesh', 'Aarushi']},
  'IT': {'manager': 'Darshita', 'employees': ['Jaymin', 'Kashish']}
}
shallow_copy_students = copy.copy(students)
deep_copy_company = copy.deepcopy(company)
shallow_copy_students[0]['grades']['math'] = 95
deep_copy_company['IT']['employees'].append('Malhar')

print("Original students:", students)
print("Shallow copy students:", shallow_copy_students)
print("Original company:", company)
print("Deep copy company:", deep_copy_company)

Original students: [{'name': 'Eric', 'grades': {'math': 95, 'science': 85}}, {'name': 'Erron', 'grades': {'math': 78, 'science': 92}}]
Shallow copy students: [{'name': 'Eric', 'grades': {'math': 95, 'science': 85}}, {'name': 'Erron', 'grades': {'math': 78, 'science': 92}}]
Original company: {'Data Science ': {'manager': 'Kelvi', 'employees': ['Jayesh', 'Aarushi']}, 'IT': {'manager': 'Darshita', 'employees': ['Jaymin', 'Kashish']}}
Deep copy company: {'Data Science ': {'manager': 'Kelvi', 'employees': ['Jayesh', 'Aarushi']}, 'IT': {'manager': 'Darshita', 'employees': ['Jaymin', 'Kashish', 'Malhar']}}

**Q3**

In [3]:
transactions = [
  {'item': 'Shirt', 'price': 25, 'quantity': 2},
  {'item': 'Pants', 'price': 50, 'quantity': 1},
  {'item': 'Shoes', 'price': 100, 'quantity': 1}
]

calculate_total = lambda transaction: transaction['price'] * transaction['quantity']
total_amounts = list(map(calculate_total, transactions))

print(total_amounts)

[50, 50, 100]

**Q4**

In [4]:
def generate_report(name, **kwargs):
  report = f"Report for {name}:\n"
  for subject, grade in kwargs.items():
    report += f"{subject}: {grade}\n"
  return report

print(generate_report("Eric", math=90, science=85))

Report for Eric:
math: 90
science: 85

**Q5**

In [5]:

class Account:
  def __init__(self, account_number, balance):
    self.account_number = account_number
    self.balance = balance

  def deposit(self, amount):
    self.balance += amount

  def withdraw(self, amount):
    if self.balance >= amount:
      self.balance -= amount
    else:
      print("Insufficient funds.")

class SavingsAccount(Account):
  def __init__(self, account_number, balance, interest_rate):
    super().__init__(account_number, balance)
    self.interest_rate = interest_rate

  def apply_interest(self):
    interest = self.balance * self.interest_rate
    self.balance += interest

savings_account = SavingsAccount("1234567890", 1000, 0.05)

savings_account.deposit(500)
savings_account.withdraw(200)

savings_account.apply_interest()

print("Account Number:", savings_account.account_number)
print("Balance:", savings_account.balance)

Account Number: 1234567890
Balance: 1365.0

**Q6**

In [6]:
class Employee:
  def __init__(self, name, employee_id, salary):
    self.name = name
    self.employee_id = employee_id
    self.salary = salary

  def get_salary(self):
    return self.salary

class Manager(Employee):
  def __init__(self, name, employee_id, salary, department):
    super().__init__(name, employee_id, salary)
    self.department = department

  def display_department(self):
    print("Department:", self.department)

manager = Manager("Eric", "M12345", 60000, "Data Engineer")
print("Salary:", manager.get_salary())
manager.display_department()

Salary: 60000
Department: Data Engineer

**Q7**

In [7]:
def filter_integers(mixed_list):
  return [x for x in mixed_list if isinstance(x, int)]
mixed_list = [1, "apple", 3, "banana", 2]
integer_list = filter_integers(mixed_list)
print(integer_list)

[1, 3, 2]

**Q8**

In [8]:
def sort_descending(lst):
  for i in range(len(lst)):
    for j in range(i + 1, len(lst)):
      if lst[i] < lst[j]:
        lst[i], lst[j] = lst[j], lst[i]
  return lst

lst = [5, 2, 8, 1, 9]
sorted_lst = sort_descending(lst)
print(sorted_lst)

[9, 8, 5, 2, 1]

**Q9**

In [9]:
def flatten_list(nested_list):
  flat_list = []
  for sublist in nested_list:
    for item in sublist:
      flat_list.append(item)
  return flat_list

nested_list = [[1, 2, 3], [4, 5], [6]]
flat_list = flatten_list(nested_list)
print(flat_list)

[1, 2, 3, 4, 5, 6]

**Q10**

In [10]:
def sort_dictionary_keys(input_dict):
  sorted_dict = {}
  for key in sorted(input_dict):
    sorted_dict[key] = input_dict[key]
  return sorted_dict

my_dict = {'c': 3, 'a': 1, 'b': 2}
sorted_dict = sort_dictionary_keys(my_dict)
print(sorted_dict)

{'a': 1, 'b': 2, 'c': 3}

**Q11**

In [11]:
def sum_list_values(input_dict):
  summed_dict = {}
  for key, value in input_dict.items():
    summed_dict[key] = sum(value)
  return summed_dict

my_dict = {'a': [1, 2, 3], 'b': [4, 5], 'c': [6]}
summed_dict = sum_list_values(my_dict)
print(summed_dict)

{'a': 6, 'b': 9, 'c': 6}

**Q12**

In [12]:
def merge_dictionaries(dict1, dict2):
  merged_dict = dict1.copy()
  merged_dict.update(dict2)
  return merged_dict

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = merge_dictionaries(dict1, dict2)
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}